<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Stepzero.solutions. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="stepzerotab" translate="label" sortOrder="300">
            <label>Stepzero Solutions</label>
        </tab>
    </system>
</config>
